.code-container{
	display:flex;
	gap:10px;
	justify-content:center;
}
.code{
	width:40px;
	height:40px;
	text-align:center;
	font-size:20px;
	border-radius:70px;
}
#verification_heading{
	text-align:center;

}
#submit,#verification_subtext{
	background-color:lavenderblush;
	font-size:12px;
	

	text-align:center;
}